aioftp==0.21.4
aiohttp==3.8.4+computecanada
aiosignal==1.3.1+computecanada
astropy==5.3.4+computecanada
async_timeout==4.0.3+computecanada
attrs==23.1.0+computecanada
charset-normalizer==3.3.1
drms==0.6.4
frozenlist==1.3.3+computecanada
idna==3.4+computecanada
multidict==6.0.4+computecanada
numpy==1.25.2+computecanada
packaging==23.2+computecanada
pandas==2.1.0+computecanada
parfive==2.0.2
pyerfa==2.0.0.1+computecanada
python-dateutil==2.8.2+computecanada
pytz==2023.3.post1+computecanada
PyYAML==6.0.1+computecanada
six==1.16.0+computecanada
sunpy==5.0.1
tqdm==4.66.1+computecanada
tzdata==2023.3+computecanada
yarl==1.8.2+computecanada
